# Supabase project URL and API keys
NEXT_PUBLIC_SUPABASE_URL=https://nxwfoninckbebqrvxyit.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54d2ZvbmluY2tiZWJxcnZ4eWl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MzM4MDAsImV4cCI6MjA4ODIwOTgwMH0.Iy-fooAt5F6-BH88udh2pTsOWe5MEwmnINoPghr7G-4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjYzMzgwMCwiZXhwIjoyMDg4MjA5ODAwfQ.dPYzn5KWbWRpeT_cmum8qgtkYMky4LkwCJCTGEcK5Ho
